.main-page {
    height: 100%;
    padding: 20px;
    background: linear-gradient(#5a63b6, #ccd368);
}

.todo-list {
    width: 600px;
    margin: 0 auto;
}

.todo-list-info {
    text-align: center;
}

