$primary-color: #0071fe;
$error-color: #ca0014;
$error-bg-color: #fcc6cb;
$success-color: #21a67a;
$success-bg-color: #d3ecda;

.TextInput {
  position: relative;
  margin-bottom: calc(1em * 1.5);
  width: 100%;
}

label {
  display: block;
  margin-bottom: 4px;
  width: 100%;
}

input {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 15px 10px;
  outline: none;
  background-color: #f2f5f7;
  width: 100%;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

input:focus {
  border-color: $primary-color;
}

.help-message {
  position: absolute;
  bottom: calc(-1.5 * 1em);
  left: 0;
  margin: 0;
  font-size: 16px;
}

.TextInput.has-error input {
  background-color: $error-bg-color;
  color: $error-color;
}

.TextInput.has-error input:focus {
  border-color: $error-color;
}

.TextInput.has-error .help-message {
  font-weight: bold;
  color: $error-color;
}

.TextInput.success input {
  background-color: $success-bg-color;
  color: $success-color;
}

.TextInput.success input:focus {
  border-color: $success-color;
}

.TextInput.success .help-message {
  color: $success-color;
}